<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis|PT+Sans+Narrow|Raleway|Varela+Round" rel="stylesheet">
{{!-- Bootstrap CDN --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  {{!-- Axios CDN --}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">

  <title>Home Page</title>
</head>

<body>
  <form id="signup" name="signup" method="post" action="/signup" style="display: none;">
    
        <div>
      <div id="signUpTitle">
        <labelfor="email">Email Address</label>
      </div>

      <div id="signUpInput">
        <input class="text inputBox" name="email" type="email" />
      </div>
    </div>

    <div>
      <div id="signUpTitle">
        <label for="firstname">Firstname</label>
      </div>
      <div id="signUpInput">
        <input class="inputBox" name="firstname" type="text" />
      </div>
    </div>

    <div>
      <div id="signUpTitle">
        <label for="lastname">Lastname</label>
      </div>
      <div id="signUpInput">
        <input class="inputBox" name="lastname" type="text" />
      </div>
    </div>

    <div>
      <div id="signUpTitle">
        <label for="password">Password</label>
      </div>
      <div id="signUpInput">
        <input class="inputBox" name="password" type="password" />
      </div>
    </div>

    <div>
      <div id="signUpBtn1">
        <input class="btn" type="submit" value="Sign Up" />
      </div>
    </div>
  </form>


  {{!-- LOGIN FORM --}}

  <form id="signin" name="signin" method="post" action="/" style="display: none;">
    <div>
      <div class="loginTitle">
        <label for="email">Email Address</label>
      </div>
      <div class="loginInput">
        <input class="text" name="email" type="email" />
      </div>
    </div>


    <div>
      <div class="loginTitle">
        <label for="password">Password</label>
      </div>
      <div class="loginInput">
        <input class="text" name="password" type="password" />
      </div>
    </div>

    <div>
      <div class="loginBtnCSS">
        <input  class="btn showLogout" type="submit" value="Login" />
      </div>
    </div>
  </form>


  {{!-- LOGOUT FORM --}}


  <form id="signout" name="signout" method="get" action="/" style="display: none;">
  <input id="logout-button" class="btn" type="submit" value="Logout" />
  </form>

{{!-- WHERE USER'S NAME IS DISPLAYED --}}
  <p id="name"></p>

  <button id="signUpBtn">Sign Up</button>
  <button id="loginBtn">Login</button>
  <form id="signup" name="signup" method="post" action="/" style="display: none;">
    <div>
      <div id="signUpTitle">
        <labelfor="email">Email Address</label>
      </div>
      <div id="signUpInput">
        <input class="text inputBox" name="email" type="email" />
      </div>
    </div>

    <div>
      <div id="signUpTitle">
        <label for="firstname">Firstname</label>
      </div>
      <div id="signUpInput">
        <input class="inputBox" name="firstname" type="text" />
      </div>
    </div>

    <div>
      <div id="signUpTitle">
        <label for="lastname">Lastname</label>
      </div>
      <div id="signUpInput">
        <input class="inputBox" name="lastname" type="text" />
      </div>
    </div>

    <div>
      <div id="signUpTitle">
        <label for="password">Password</label>
      </div>
      <div id="signUpInput">
        <input class="inputBox" name="password" type="password" />
      </div>
    </div>

    <div>
      <div id="signUpBtn1">
        <input class="btn showLogout" type="submit" value="Sign Up" />
      </div>
    </div>
  </form>
  {{{body}}}
  {{!-- <h1>Hello</h1> --}}
  <script src="https://code.jquery.com/jquery.js"></script>
 <script src="/js/index.js"></script>
</body>   


</html>