<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis|PT+Sans+Narrow|Raleway|Varela+Round" rel="stylesheet">


  
  {{!-- Axios CDN --}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">

  <title>Home Page</title>
</head>

<body>
  <form id="signup" name="signup" method="post" action="/signup" style="display: none;">
    {{!-- <label for="email">Email Address</label>
    <input class="text" name="email" type="email" />
    <label for="firstname">Firstname</label>
    <input name="firstname" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Sign Up" /> --}}
        <div>
      <div id="signUpTitle">
        <labelfor="email">Email Address</label>
      </div>
      <div id="signUpInput">
        <input class="text inputBox" name="email" type="email" />
      </div>
    </div>

    <div>
      <div id="signUpTitle">
        <label for="firstname">Firstname</label>
      </div>
      <div id="signUpInput">
        <input class="inputBox" name="firstname" type="text" />
      </div>
    </div>

    <div>
      <div id="signUpTitle">
        <label for="lastname">Lastname</label>
      </div>
      <div id="signUpInput">
        <input class="inputBox" name="lastname" type="text"/>
      </div>
    </div>

    <div>
      <div id="signUpTitle">
        <label for="password">Password</label>
      </div>
      <div id="signUpInput">
        <input class="inputBox" name="password" type="password" />
      </div>
    </div>

    <div>
      <div  id="signUpBtn1">
        <input class="btn" type="submit" value="Sign Up"/>
      </div>
    </div>
  </form>

  <form id="signin" name="signin" method="post" action="/">
    <label for="email">Email Address</label>
    <input class="text" name="email" type="email" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Login" />
  </form>
  <form id="signout" name="signout" method="get" action="/" />
  <input id= "logout-button" class="btn" type="submit" value="Logout" />
  </form>
  
  <p id="name"></p>

    <button id="signInBtn">Sign-In/Sign-Up</button>
  <form id="signup" name="signup" method="post" action="/" 
  style="display: none;"
  >
    <div>
      <div id="signUpTitle">
        <labelfor="email">Email Address</label>
      </div>
      <div id="signUpInput">
        <input class="text inputBox" name="email" type="email" />
      </div>
    </div>

    <div>
      <div id="signUpTitle">
        <label for="firstname">Firstname</label>
      </div>
      <div id="signUpInput">
        <input class="inputBox" name="firstname" type="text" />
      </div>
    </div>

    <div>
      <div id="signUpTitle">
        <label for="lastname">Lastname</label>
      </div>
      <div id="signUpInput">
        <input class="inputBox" name="lastname" type="text"/>
      </div>
    </div>

    <div>
      <div id="signUpTitle">
        <label for="password">Password</label>
      </div>
      <div id="signUpInput">
        <input class="inputBox" name="password" type="password" />
      </div>
    </div>

    <div>
      <div  id="signUpBtn1">
        <input class="btn" type="submit" value="Sign Up"/>
      </div>
    </div>
  </form>
  {{{body}}}
  {{!-- <h1>Hello</h1> --}}
<script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>