{{!-- THIS IS THE SEARCH PAGE --}}

{{!-- HEADER --}}



<div id="mainPage" class="jumbotron">

  <div id="mainContent">
    <div>
      <h1 id="mainHeading"> <img src="https://requestreduce.org/images/house-logo-clipart-6.png" alt="House Logo"
          height="60px"> Real Wize
      </h1>
    </div>
    <div>
      <form id="todo-form">
        <div class="container">
          <div class="row">
            <div class="col-9">
              <input class="search-city form-control" placeholder="Enter City Name" type="text" />
            </div>
            <div class="col-2">
              <button type="submit" id="searchBtn" class="btn btn-danger text-white"><img id="searchIcon"
                  src="http://cdn.onlinewebfonts.com/svg/download_61448.png" alt="Search icon"></button>

              {{!-- <a class="btn btn-danger text-white" type = "submit">Search</a> --}}
              {{!-- <div class="col-3">
        <a class="btn btn-danger text-white " id="searchBtn" href="/api/homeList" placeholder="Enter City Name">
         
        </a> --}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


{{!-- {{/each}} --}}