body{

    /* box-sizing: border-box;
    display: inline; */
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  

}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
}

#particle-canvas {
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1{
  font-size: 100px;
}

div{
  margin: 0;
  padding: 0;
  display: block;
}
.row {
    display: flex;
    flex-wrap: wrap;
margin: 0;
    padding: 0;
  
}
p{
    font-size: 30px;
    text-shadow: 2px 1px #8a7c7c;
}
.card-text{
  font-size: 18px;
    text-shadow: 0px 0px #8a7c7c;
}
h5{
  font-size: 28px;
    text-shadow: 2px 1px #8a7c7c;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .container {
    position: relative;
    width: 50%;
    margin: 0;
    display: flex;
    padding: 0;
  }
  div.container{
    margin: 0;
    padding: 0;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    display: flex;
/* flex-wrap: wrap; */
  }
  
  .images {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    /* backface-visibility: hidden; */
    /* display: flex; */
/* flex-wrap: wrap; */
  }
  
  .container:hover .images {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  .show{
    position: relative;
    margin: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    visibility: hidden;
      }
  .hide{
position: relative;
margin: 20px;
display: flex;
flex-wrap: nowrap;
visibility: hidden;
display: none;
  }

  .info:hover{
    visibility: visible;

  }
#searchIcon{
  padding-left: 1px;
  padding-right: 1px;
  margin: 0;
  height:27px; 
  width:38px;
  background: none;
  mix-blend-mode: multiply;
  display: inline;

}
 #searchBtn{
   border:3px solid rgb(0,96,182);
   background: none;
   padding: 0;
   padding-left: 5px;
   padding-right: 5px;
   opacity: 1.4;

 }
 #searchBtn:hover{
border: 3px solid blue;
background: none;
   

 }
 .jumbotron{
   background: rgba(10, 10, 10, 0.26);
   padding: 20px;
   margin:0;
   border-radius: 0px;
   background-repeat: no-repeat;
   background-size: 100%;
display: block;
position: relative;

  }
  .jumbotron::after {
    content: "";
    
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
  .modal-content{
    background: rgba(4, 134, 194, 0.89);
        border-radius: 0px;
    border: 10px solid rgba(245, 245, 245, 0.295);
    width: 130%;
    height: 80%;
    display: block;
    color: white;
    
  
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 3;
  
 
  }
  .modal-body{
    
  }
  #mainPage {
    /* background-image: url(http://wallpapercave.com/wp/ecGPRsc.jpg); */
    background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   
   
  }
  #mainContent{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.507);
  padding: 10px;
  height: 50%;
  
  
  }
  #mainHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    display: block;
 
    /* background: black; */
  }
  #todo-form{
    display: flex;
    margin: 10px;
    padding: 10px;
  }
  div.col-9{
    padding: 0;
    margin: 0px;
  }
  div.col-3{
    padding: 0;
    margin-left: 2px;
  }
  #signInBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: 2px solid rgb(223, 226, 16);
    color: rgb(223, 226, 16);
    border-radius: 20px;
    font-size: 15px;
    background: none;
    z-index: 1;

  }
  #signInBtn:hover{
    background: rgb(0,96,182);
    color: whitesmoke;
    border: 2px solid whitesmoke;
  }
  #signup{
    
    display: block;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 50%;
  margin: auto;
    background: rgba(4, 134, 194, 0.89);
    padding: 70px;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    
  }
  #signUpTitle{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #signUpInput{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: rgb(0, 174, 255);
   
  }
  input.inputBox{
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    text-align: center; 
  }
  #signUpBtn1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; 
    color: rgb(0, 140, 255);
     
  }

  input.search-city{
    width: 200px;
  }

  input.inputBox{
    width: 300px;
    margin-bottom: 20px;
  }

  .btn-primary{
    padding: 20px;
    color: rgb(17, 109, 185);
    font-size: 20px;
    background: none;
    border: none;

  }
  .bouncy{
     animation:bouncy 5s infinite linear;
     position:relative;
    }
    @keyframes bouncy {
     0%{top:0em}
     40%{top:0em}
     43%{top:-0.9em}
     46%{top:0em}
     48%{top:-0.4em}
     50%{top:0em}
     100%{top:0em;}
    }






  
